<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCusUQkEgovQpq9-j-kmd1_LpKw2mZ4goY</string>
	<key>GCM_SENDER_ID</key>
	<string>234150718407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nadz.fameNadz</string>
	<key>PROJECT_ID</key>
	<string>fame-nadz</string>
	<key>STORAGE_BUCKET</key>
	<string>fame-nadz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234150718407:ios:88431f7073c413cb2987e2</string>
</dict>
</plist>